<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>NCCS</title>
    <link rel="stylesheet" th:href="@{/main.css}" />
</head>
<body>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Existing User Detected</h2>
              <p class="text-white-50 mb-5">Do you want to logout and return to the login page?</p>
              <hr>
              <button class="btn btn-primary" th:onclick="|window.location.href='/home/logout.html'|">YES</button>&nbsp; &nbsp;
			  <button class="btn btn-primary" th:onclick="|window.location.href='/home'|">NO</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>